<section id="aboutMe">
    <div class="left">
        <h1 translate>About me</h1>
        <p class="text1" translate>Ich bin ein deutschspracher in der Schweiz lebender Web Entwickler mit Erfahrungen in
            der Entwicklung von Webanwendungen mit JavaScript und Angular. Schauen Sie sich mein Portfolio hier an.</p>
        <div>
            <img class="noselect" src="assets/icons/bulb.png" alt="bulb">
            <p class="text2" translate>Die IT hat mich schon immer fasziniert. Darum habe ich mich entschieden meine
                Skills auf ein professionelles Level anzuheben und bin daher auf den Zug von der Developer Akademie
                aufgesprungen.</p>
        </div>
        <div>
            <img class="noselect" src="assets/icons/puzzle.png" alt="puzzel">
            <p class="text3" translate>Bei der Developer Akademie habe ich mehrere Einzel- und Gruppenprojekte erstellt.
                Somit konnte ich mein Wissen vertiefen, da ich auch schnell Feedback erhalten habe. Ich freue mich als
                Junior-Fullstack-Entwickler durchstarten zu können und teil Ihres Software Teams sein.</p>
        </div>
    </div>

    <div class="right">
        <img class="border noselect" src="assets/img/me.png">
        <img class="strokeBlue noselect" src="assets/shadows/strokeBlue.png">
        <img class="blueShadow noselect" src="assets/shadows/blueShadow.png">
    </div>

</section>