<section id="aboutMe">
    <div class="left">
        <h1 translate>About me</h1>
        <p class="text1" translate>I am a German speaking web developer living in Switzerland with experience in
            developing web applications with JavaScript and Angular. Have a look at my portfolio here.</p>
        <div>
            <img class="noselect" src="assets/icons/bulb.png" alt="bulb">
            <p class="text2" translate>IT has always fascinated me. That's why I decided to raise my
                skills to a professional level and therefore I jumped on the train of the Developer Academy.
                jumped on.</p>
        </div>
        <div>
            <img class="noselect" src="assets/icons/puzzle.png" alt="puzzel">
            <p class="text3" translate>At the Developer Academy, I created several individual and group projects.
                Thus, I was able to deepen my knowledge, as I also received feedback quickly. I am looking forward to
                Junior-Frontend-Developer and be part of your software team.</p>
        </div>
    </div>

    <div class="right">
        <img class="border me2 noselect" src="assets/img/me2.png">
        <img class="strokeBlue noselect" src="assets/shadows/strokeBlue.png">
        <img class="blueShadow noselect" src="assets/shadows/blueShadow.png">
    </div>

</section>