@import '../variables.scss';

section {
    display: flex;
    position: relative;
    min-height: calc( 100vh - 64px);
    margin: 64px 0 0 0;
}

.start-page {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
}


.main-container {
    display: flex;
}

.iAmContainer {
    display: flex;
    flex-direction: column;
    position: absolute;
    color: white;
    right: 7rem;
    top: 10rem;
    align-items: center;
    z-index: 1;
    @media (max-width: "1350px") {
        right: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        bottom: -9rem;
        width: max-content;
        top: unset;
        height: 21rem;
    }
    @media (max-width: 1350px) and (max-height: 920px) {
        bottom: -11rem;
    }
}

.iAm {
    rotate: -90deg;
    font-size: 4.5rem;
    margin: 1rem -4rem 0 0;

    @media (max-width: "900px") {
        font-size: 32px;
        margin: 1rem -1rem 0 0;
    }
}

.name {
    font-size: 6.0rem;
    font-weight: 700;
    @media (max-width: "900px") {
        font-size: 45px;
    }
}

.job {
    font-size: 3.8rem;
    color: #4B47FF;
    position: relative;
    margin-top: -5px;
    @media (max-width: "900px") {
        font-size: 29px;
    }
}

.iAmText {
    display: flex;
    @media (max-width: "900px") {
        margin-top: 30px;
    }
}

.img {
    display: flex;
    position: absolute;
    height: 705px;
    width: 585px;
    top: 106px;

    @media (max-width: "640px") {
    display: flex;
    position: absolute;
    height: 705px;
    width: 585px;
    top: 145px;
    left: -16vw;

    }
}


.bg {
    position: absolute;
    top: 17rem;
    width: 110vw;
    height: 65rem;
    @media (max-width: "1350px") {
        bottom: -17rem;
        top: unset;
    }
    @media (max-width: "530px") {
        bottom: -18rem;
    }
    @media (max-height: "800px") and (max-width: "1350px") {
        bottom: -21rem;
    }
    @media (max-height: "720px") and (max-width: "1350px") {
        bottom: -24rem;
    }
    @media (max-width: "650px") and (max-height: 1000px) {
        bottom: -23rem;
        width: 68rem;
    }
    @media (max-width: "650px") and (min-height: 721px) {
        bottom: -18rem;
    }
}


.picture {
    width: 29rem;
    margin: 0 0 0 7rem;
    @media (max-width: 600px) {
        margin: -5rem 0rem 0rem 2rem;
    }
}

.shadow {
    position: absolute;
    z-index: -1;
    left: -4rem;
    top: 3rem;
}

.blueButton {
    color: white;
    margin: 2rem;
    border: 0;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    background: $LightBlue;
    z-index: 1;
    font-size: 1.5rem;
    transition: all 125ms ease-in-out;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    &:hover {
        padding: 1.5rem 2.5rem;
        background: #4B47FF;
        cursor: pointer;
    }
}

.linkList {
    position: absolute;
    bottom: 4rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0 0 0 -0.3rem;
    z-index: 1;
    cursor: pointer;

    @media (max-width: "1350px") {
    position: absolute;
    bottom: 0rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0 0 0 -0.3rem;
    z-index: 1;
    cursor: pointer;
}


    }

    .email {
    
        @media (max-width: "710px") {
            display: none;
        }
    }

    a {
        text-decoration: none;
        color: white;
        font-size: 1.5rem;
        transition: all 125ms ease-in-out;
        display: flex;
        margin-left: 8px;
        margin-right: 8px;
        align-items: center;
        &:hover {
            scale: 1.1;
        }
        &.mobileHide {
            @media (max-width: "650px") {
                display: none;
            }
        }
    }
    img {
        transition: all 125ms ease-in-out;
        &:hover {
            scale: 1.2;
        }
    }




.scrollDown {
    color: white;
    rotate: 90deg;
    font-size: 1.25rem;
    position: absolute;
    bottom: 8rem;
    right: 3rem;
    text-decoration: none;
    transition: all 125ms ease-in-out;
    img {
        rotate: -90deg;
        margin: 0 0 -2px 6px;
    }
    &:hover {
        scale: 1.1;
        cursor: pointer;
    }
    @media (max-width: "1080px") {
        display: none;
    }
    @media (max-width: "750px") {
        display: none;
    }
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}