<section data-aos="fade-down" data-aos-duration="2000" data-aos-delay="150">
    <div class="img">
        <img class="shadow noselect" src="assets/shadows/Group 2.png">
        <img class="picture noselect" src="assets/img/me1.png">
    </div>
    <div class="iAmContainer">
        <div class="iAmText">
            <div class="iAm">I am</div>
            <div class="collum">
                <div class="name">Fabian Caspers</div>
                <div class="job">FRONTEND DEVELOPER</div>
            </div>
        </div>
       <a href="#contact"> <button  class="blueButton noselect" translate>Let's talk!</button></a>
    </div>
    <img class="bg noselect" src="assets/img/Vector.png">
    <a class="scrollDown noselect" href="#aboutMe">
        <span translate>Scroll down</span>
        <img src="assets/icons/arrowDown.png">
    </a>
    <div class="linkList ">
        <img src="assets/icons/strokeBlue.png">
        <a href="https://github.com/FabianCaspers" target="_blank">
            <img src="assets/icons/gitHub.png" alt="GitHub">
        </a>
        <a href="#contact">
            <img src="assets/icons/mail.png" alt="Mail">
        </a>
        <a href="https://www.linkedin.com/in/fabian-caspers-927783261/" target="_blank">
            <img src="assets/icons/linkedin.png" alt="Linkedin">
        </a>
        <a class="email" href="#contact">fabian.caspers1308@gmail.com</a>
    </div>
</section>