<footer>
    <div class="footer">

        <div class="left">
            <h2><span class="name"><p>F</p>ab<div class="lightBlue">i</div>an<div class="spaceLeft">Ca</div><p>sp</p>er<div class="lightBlue">s</div></span></h2>
            <!-- <a translate class="imprint" href="#">Imprint</a> -->

        </div>


        <div class="middle">
            © Fabian Caspers 2023
        </div>


        <div class="right">
            <div>
                <a href="https://github.com/FabianCaspers" target="_blank">
                    <img src="assets/icons/gitHub.png" alt="GitHub">
                </a>
            </div>
            <div>
                <a href="#contact">
                    <img src="assets/icons/mail.png" alt="Mail">
                </a>
            </div>
            <div>
                <a href="https://www.linkedin.com/in/fabian-caspers-927783261/" target="_blank">
                    <img src="assets/icons/linkedin.png" alt="Linkedin">
                </a>
            </div>
        </div>
    </div>
</footer>