<section id="contact">

    <div class="headline">
        <h1 translate>
            <img src="assets/icons/blueLineShort.png" alt="">
            Contact
        </h1>
    </div>

    <div class="second-container">
        <div class="left">

            <h2 translate>Got a problem to solve?</h2>
            <span translate>Contact me through this form, I am interested in hearing you, knowing your ideas and contributing to
                your projects with my work.</span> <br>
            <span translate>Need a Frontend developer? <b translate>Contact me!</b></span>

        </div>

        <div class="right">
            <form action="">
                <input translate class="input1" type="text" id="name" placeholder="Your name">
                <input translate class="input1" type="email" id="mail" placeholder="Your email">
                <input translate class="input2" type="text" id="message" placeholder="Your message">
                <button translate>Send message :)</button>
            </form>
        </div>
        <img class="goUpButton" (click)="scrollToTop()" src="assets/icons/goUpButton.png" alt="goUpButton">
    </div>
    <img class="blueShadow" src="assets/shadows/blueShadow3.png" alt="blueShadow">

</section>