@import '../variables.scss';

section {
    color: white;
    position: relative;
    margin-bottom: 100px;

    @media (max-width: 390px) {
        padding: 1rem 0 0 0;
    }
}

.content {
    display: flex;
    justify-content: space-between;
    z-index: 1;
    position: relative;
    @media (max-width: 850px) {
        flex-direction: column;
    }
    .left {
        margin: 0 0 0 7rem;
        width: 40%;
        h2 {
            font-size: 2rem;
            margin-top: 0;
            @media (max-width: 520px) {
                font-size: 1.75rem;
            }
            @media (max-width: 450px) {
                font-size: 1.5rem;
            }
            @media (max-width: 390px) {
                font-size: 1.25rem;
            }
        }
        @media (max-width: 850px) {
            margin: 0 7rem 0 7rem;
            width: calc( 100% - 14rem);  
        }
        @media (max-width: 650px) {
            margin: 0 2rem 0 2rem;
            width: calc( 100% - 4rem);           
        }
        @media (max-width: 390px) {
            margin: 0 1rem 0 1rem;
            width: auto; 
        }
    }
}

.headline {
    display: flex;
    align-items: center;

    img {
        margin-bottom: 25px;
        width: 50px;
        height: 4px;
    }
}

.second-container {
    display: flex;
    width: 100vw;

    @media (max-width: 1280px) {
        flex-direction: column;
    }
}

.left {
    width: 50vw;
    margin-left: 99px;

    @media (max-width: 1280px) {
        margin: 0 7rem 0 7rem;
        width: calc(100% - 14rem);
        padding-bottom: 50px;
    }

    @media (max-width: 850px) {
        margin: 0 7rem 0 7rem;
        width: calc(100% - 14rem);
        padding-bottom: 50px;
    }

    @media (max-width: 650px) {
        margin: 0 2rem 0 2rem;
        width: calc(100% - 4rem);
    }

    @media (max-width: 390px) {
        margin: 0 1rem 0 1rem;
        width: auto;
    }

    span {
        width: 473px;
    }
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    margin-left: 50px;
    @media (max-width: 1280px) {
        margin: 0 7rem 0 7rem;
        width: calc(100% - 14rem);
        padding-bottom: 50px;
    }

    @media (max-width: 850px) {
        margin: 0 7rem 0 7rem;
        width: calc(100% - 14rem);
        flex-direction: column;
    }

    @media (max-width: 650px) {
        margin: 0 2rem 0 2rem;
        width: calc(100% - 4rem);
    }

    @media (max-width: 390px) {
        margin: 0 1rem 0 1rem;
        width: auto;
    }

    form {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        height: 34rem;

        .green {
            color: $Green;
            margin: 0;
        }

        input,
        textarea {
            font-family: 'Poppins', Arial, Helvetica, sans-serif;
            padding: 1rem 1.25rem;
            border: 1px solid $LightBlue;
            border-radius: 0.5rem;
            background: transparent;
            color: white;

            &:hover {
                border: 1px solid $Green;
            }

            &::placeholder {
                /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: white;
                opacity: 1;
                /* Firefox */
            }

            &:-ms-input-placeholder {
                /* Internet Explorer 10-11 */
                color: white;
            }

            &::-ms-input-placeholder {
                /* Microsoft Edge */
                color: white;
            }

            &:focus-visible {
                outline: unset;
                border: 1px solid $Green;
            }

            &.ng-touched,
            &.ng-dirty {
                &.ng-invalid {
                    border: 1px solid red;
                }

                &.ng-valid {
                    border: 1px solid $Green;
                }
            }

            &:disabled {
                opacity: 0.2;
            }
        }

        textarea {
            height: 10rem;
            resize: none;
        }

        .error {
            color: red;
            margin: -1rem 1rem;
        }
    }

    button {
        color: white;
        margin: 2rem;
        border: 0;
        padding: 1rem 2rem;
        border-radius: 0.5rem;
        background: $LightBlue;
        z-index: 1;
        font-size: 1.5rem;
        transition: all 125ms ease-in-out;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        @media (max-width: 600px) {
            margin: 3rem;
            padding: 1rem 1.5rem;
        }

        &:hover {

            background: #4B47FF;
            cursor: pointer;
        }
    }
}

input::placeholder {
    color: white;
    padding-left: 20px;
}

.input1 {
    width: 617px;
    height: 50px;
    background: transparent;
    border: 1px solid #4B47FF;
    border-radius: 10px;
    margin-bottom: 25px;

    @media (max-width: 1280px) {
        width: 340px;
        height: 40px;
    }

}

.input2 {
    width: 617px;
    height: 202px;
    background: transparent;
    border: 1px solid #4B47FF;
    border-radius: 10px;

    @media (max-width: 1280px) {
        width: 340px;
        height: 40px;
    }

}

.goUpButton {
    position: absolute;
    right: 7rem;
    bottom: -4rem;
    transition: all 125ms ease-in-out;

    &:hover {
        scale: 1.1;
        cursor: pointer;
    }

    @media (max-width: 650px) {
        right: 2rem;
    }

    @media (max-width: 390px) {
        right: 1rem;
    }
}

h1 {
    position: relative;
    margin: 6rem 0 0 7rem;
    .stroke {
        position: absolute;
        left: -7rem;
        top: 50%;
        @media (max-width: 650px) {
            left: -7.9rem;
        }
    }
    @media (max-width: 650px) {
        margin: 6rem 0 0 2rem;
    }
    @media (max-width: 390px) {
        margin: 6rem 0 0 3rem;
    }
}

.blueShadow {
    position: absolute;
    bottom: -19rem;
    z-index: -1;

    @media (max-width: 850px) {
        bottom: -24rem;
        width: 30rem;
    }
}