<section id="portfolio">

    <div class="headline">
        <h1>
            Portfolio
            <img class="short" src="assets/icons/blueLineShort.png" alt="">
            <img class="long" src="assets/icons/blueLineLong.png" alt="">
        </h1>
        <p translate>This page is a sample of my work - please feel free to try them out.</p>
    </div>


    <div class="projects">
        <div class="upper-container">
            <div class="laptop">
                <img src="assets/icons/join.png" alt="">
            </div>

            <div class="project-description">
                <div class="text-container">
                <h3>Join</h3>
                <p class="modules">Angular | TypeScript | HTML | CSS | Firebase</p>
                <p translate>Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions,
                    assign users and categories.</p>
                </div>
                <div class="button-container">
                    <button class="blueButton">Live Test</button>
                    <button class="transparentButton">Github</button>
                </div>
            </div>
        </div>
    </div>



    <div class="projects">
        <div class="upper-container-reverse">
            <div class="laptop-reverse">
                <img src="assets/icons/pokedex.png" alt="">
            </div>

            <div class="project-description-reverse">
                <div class="text-container-reverse">
                <h3>Pokedex</h3>
                <p class="modules">JavaScript | HTML | CSS | API</p>
                <p translate>Based on the PokeAPI a simple library that provides and catalogues pokemon information.</p>
                </div>
                <div class="button-container">
                   <a href="https://pokedex.fabiancaspers.com/index.html" target="_blank"> <button class="blueButton">Live Test</button></a>
                    <a href="https://github.com/FabianCaspers/pokedex.git" target="_blank">
                    <button class="transparentButton">Github</button>
                </a>
                </div>
            </div>
        </div>
    </div>



    <div class="projects">
        <div class="upper-container">
            <div class="laptop">
                <img src="assets/icons/polloloco.png" alt="">
            </div>

            <div class="project-description">
                <div class="text-container">
                <h3>El Pollo Loco</h3>
                <p class="modules">JavaScript | HTML | CSS</p>
                <p translate>A simple Jump-and-Run game bases on an object-oriented approach. Help Pepe to find coins and poison
                    bottles to fight against the killer chicken.</p>
                </div>
                <div class="button-container">
                    <a href="https://elpolloloco.fabiancaspers.com/index.html" target="_blank"> <button class="blueButton">Live Test</button></a>
                    <a href="https://github.com/FabianCaspers/pokedex.git" target="_blank">
                    <button class="transparentButton">Github</button>
                </a>
                </div>
            </div>
        </div>
    </div>

    <img class="blueShadow" src="assets/shadows/blueShadowPortfolio.png" alt="blueShadow">
    <img class="greenShadow" src="assets/shadows/greenshadow.png" alt="greenShadow">

</section>