@import '../variables.scss';

section {
    color: white;
    position: relative;

    @media (max-width: 390px) {
        padding: 1rem 0 0 0;
    }
}

.portfolio {
    width: 100vw !important;
    display: flex;

}

.headline {
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;

    h1 {
        text-align: center;
        position: relative;
        width: fit-content;
        margin-bottom: 0;

        img {
            position: absolute;
        }

        .long {
            right: -60rem;
            top: 50%;
            width: 924px;
            height: 4px;
        }

        .short {
            left: -9rem;
            top: 50%;
        }
    }

    p {
        margin: 1rem 2rem;
        text-align: center;

        @media (max-width: 390px) {
            margin: 1rem;
        }
    }
}

.upper-container {
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: 1280px) {
        flex-direction: column;
    }
}

.upper-container-reverse {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;

    @media (max-width: 1280px) {
        flex-direction: column;
        margin-left: 130px;
    }
}

.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.project-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 370px;

    @media (max-width: 740px) {
        justify-content: center;
        align-items: center;
    }
}

.project-description-reverse {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 370px;

    @media (max-width: 740px) {
        justify-content: center;
        align-items: center;
        width: 100vw;
        margin-left: -6rem;
    }
}

.text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media (max-width: 740px) {
        padding-left: 46px;
        padding-right: 38px;
    }
}

.text-container-reverse {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media (max-width: 740px) {
        padding-left: 20px;
        padding-right: 60px;
    }
}

.button-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;



}

.laptop {
    display: flex;
    margin-left: 172px;
    margin-right: 100px;
    justify-content: center;

}

.laptop img {
    @media (max-width: 740px) {
        width: 80vw;
        margin-left: 0;
        margin-right: 65px;
    }
}

.laptop-reverse {
    display: flex;
    margin-left: 100px;
    margin-right: 172px;
    justify-content: center;

}

.laptop-reverse img {
    @media (max-width: 740px) {
        width: 80vw;
        margin-left: 0;
        margin-right: 65px;
    }
}

h3 {
    color: #4B47FF;
    font-size: 32px;
}

.modules {
    color: $LightBlue;

    @media (max-width: 740px) {
        font-size: 1.3rem;

    }
}

.blueButton {
    color: white;
    border: 0;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    background: #4B47FF;
    z-index: 1;
    font-size: 1.5rem;
    transition: all 125ms ease-in-out;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

    &:hover {
        background: $LightBlue;
        cursor: pointer;
    }

    @media (max-width: 740px) {
        font-size: 1rem;
        padding: 1rem 1.5rem;
    }
}

.transparentButton {
    color: white;
    margin: 2rem;
    border: 1px solid $LightBlue;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    background: transparent;
    z-index: 1;
    font-size: 23px;
    transition: all 125ms ease-in-out;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

    &:hover {
        background: $LightBlue;
        cursor: pointer;
    }

    @media (max-width: 740px) {
        font-size: 1rem;
        padding: 1rem 1.5rem;
    }
}

.blueShadow {
    position: absolute;
    top: 0rem;
    left: -3rem;
    z-index: -1;

    @media (max-width: 1600px) {
        top: 10rem;
    }

    @media (max-width: 950px) {
        top: 89rem;
        width: 24rem;
    }

    @media (max-width: 1280px) {
        top: 66rem;
        left: 9rem;
    }
    @media (max-width: 740px) {
        top: 53rem;
        width: 24rem;
        left: 1rem;
    }
}

.greenShadow {
    position: absolute;
    right: -30rem;
    bottom: -22rem;
    z-index: -1;
    rotate: 80deg;
}