<section class="skills">

    <div class="left">
        <img src="assets/icons/angular.png" alt="">
        <img src="assets/icons/typescript.png" alt="">
        <img src="assets/icons/javascript.png" alt="">
        <img src="assets/icons/html.png" alt="">
        <img src="assets/icons/firebase.png" alt="">
        <img src="assets/icons/gitHubSkills.png" alt="">
        <img src="assets/icons/css.png" alt="">
        <img src="assets/icons/restApi.png" alt="">
        <img src="assets/icons/scrum.png" alt="">
        <img src="assets/icons/materialDesign.png" alt="">
    </div>

    <div class="right">
        <h1>My skills</h1>
        <p>I have grown frontend developments skills that have allowed me to create different real projects.</p>
        <div>
            <button>Get in touch</button>
        </div>
    </div>
    <img class="img-blue" src="assets/icons/strokeBlue.png" alt="">

</section>