<section id="mySkills" class="skills">

    <div class="left">
        <div data-aos="zoom-in" class="icon">
            <img class="icon" src="assets/icons/angular.png" alt="">
        </div>
        <div data-aos="zoom-in" class="icon">
            <img class="icon" src="assets/icons/typescript.png" alt="">
        </div>
        <div data-aos="zoom-in" class="icon">
            <img class="icon" src="assets/icons/javascript.png" alt="">
        </div>
        <div data-aos="zoom-in" class="icon">
            <img class="icon" src="assets/icons/html.png" alt="">
        </div>
        <div data-aos="zoom-in" class="icon">
            <img class="icon" src="assets/icons/firebase.png" alt="">
        </div>
        <div data-aos="zoom-in" class="icon">
            <img class="icon" src="assets/icons/gitHubSkills.png" alt="">
        </div>
        <div data-aos="zoom-in" class="icon">
            <img class="icon" src="assets/icons/css.png" alt="">
        </div>
        <div data-aos="zoom-in" class="icon">
            <img class="icon" src="assets/icons/restApi.png" alt="">
        </div>
        <div data-aos="zoom-in" class="icon">
            <img class="icon" src="assets/icons/scrum.png" alt="">
        </div>
        <div data-aos="zoom-in" class="icon">
            <img class="icon" src="assets/icons/materialDesign.png" alt="">
        </div>
    </div>

    <div class="right">
        <h1 data-aos="fade-left" translate>My skills</h1>
        <p data-aos="fade-left" translate>I have grown frontend developments skills that have allowed me to create different real projects.</p>
        <div>
           <a class="td-none" href="#contact"> <button data-aos="fade-up" translate >Get in touch</button></a>
        </div>
    </div>
    <img class="img-blue" src="assets/icons/strokeBlue.png" alt="">

</section>