<section id="mySkills" class="skills">

    <div class="left">
        <div class="icon">
            <img class="icon" src="assets/icons/angular.png" alt="">
        </div>
        <div class="icon">
            <img class="icon" src="assets/icons/typescript.png" alt="">
        </div>
        <div class="icon">
            <img class="icon" src="assets/icons/javascript.png" alt="">
        </div>
        <div class="icon">
            <img class="icon" src="assets/icons/html.png" alt="">
        </div>
        <div class="icon">
            <img class="icon" src="assets/icons/firebase.png" alt="">
        </div>
        <div class="icon">
            <img class="icon" src="assets/icons/gitHubSkills.png" alt="">
        </div>
        <div class="icon">
            <img class="icon" src="assets/icons/css.png" alt="">
        </div>
        <div class="icon">
            <img class="icon" src="assets/icons/restApi.png" alt="">
        </div>
        <div class="icon">
            <img class="icon" src="assets/icons/scrum.png" alt="">
        </div>
        <div class="icon">
            <img class="icon" src="assets/icons/materialDesign.png" alt="">
        </div>
    </div>

    <div class="right">
        <h1 translate>My skills</h1>
        <p translate>I have grown frontend developments skills that have allowed me to create different real projects.</p>
        <div>
            <button href="#contact" translate >Get in touch</button>
        </div>
    </div>
    <img class="img-blue" src="assets/icons/strokeBlue.png" alt="">

</section>